.btn {
  display: inline-block;
  padding: 12px 44px;

  font-family: $title-font;
  font-size: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #292929; /* Тёмно-серый */

  border-radius: 26px;
  background-color: transparent;
  cursor: pointer;

  transition: .5s ease-in-out;
}

/* КНОПКИ ХЕДЕРА */
.site-offer__btn {
  background-color: #f1cdb3; /* персиковый */
}

.site-offer__btn:hover {
  background-color: #fddcc4; /* светло-персиковый */
}

.site-offer__btn:focus {
  background-color: #fddcc4; /* светло-персиковый */
}

.site-offer__btn:active {
  background-color: #eac2a5;
}
/* END    КНОПКИ ХЕДЕРА  */


/* КНОПКИ МЭЙН */
  /* Кнопки */
.catalog-item__btn,
.catalog__btn {
  border: solid 2px $main-color;
}

.catalog-item:hover .catalog-item__btn,
.catalog-item:focus .catalog-item__btn,
.catalog__btn:hover,
.catalog__btn:focus {
  background-color: $main-color;
}

.catalog__btn {
  margin: 0 auto !important;
}
  /* END   Кнопки */


  /* кнопки слайдера */
.controls__btn {
  position: absolute;
  top: 45%;

  width: 50px;
  height: 50px;
  padding: 0;

  font-size: 0;

  border: solid 2px $main-color;
  border-radius: 50%;
  background-color: transparent;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.controls__btn img {
  display: block;
  margin: 0 auto;
  margin-top: 50%;
}

.controls__btn--prev img {
  transform: translateY(-50%);
}

.controls__btn--next img {
  transform: translateY(-50%) rotate(180deg);
}

.controls__btn:hover,
.controls__btn:focus {
  background-color: $main-color;
}

.controls__btn:active {
  background-color: #eac2a5;
}
  /* END   кнопки слайдера */
/* END    КНОПКИ МЭЙН */
