.main {
  @extend %item-reset;
}

/* Секция ABOUT */
.about__wrapper {
  @extend %item-reset;

  padding: {
    top: 118px;
    bottom: 128px;
  }

  background: {
    image: url(../../img/bg-main-pets.png);
    repeat: no-repeat;
    position: 14.5% 50%;
    transform: translateY(-50%);
  }
}

.about__content {
  @extend %item-reset;

  width: 35.5%;
  margin-left: 50%;
}

.about__title {
  width: 75.9%;
  margin-bottom: 20px;
}
/* END Секция ABOUT */


/* Секция CATALOG */
.catalog {
  @extend %item-reset;

  padding-bottom: 68px;
  background-color: $bg-color-2;
  &__wrapper {
    @extend %item-reset;

    padding-top: 74px;
  }

  &__title {
    width: 36.75%;
    margin: 0 auto;
    margin-bottom: 68px;

    text-align: center;
  }

  &__list {
    @extend %item-reset;

    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__bottom {
    text-align: center;
  }
}

.catalog-item {
  @extend %item-reset;

  width: 270px;
  margin-right: 50px;
  padding-bottom: 34px;

  text-align: center;
  border-radius: 9px;
  background-color: $bg-color-1;
  cursor: pointer;

  transition: .5s ease-in-out;

  &:last-of-type {
    margin-right: 0;
  }

  &__link {
    color: $font-color;
    text-decoration: none;
  }

  &__img {
    margin-bottom: 35px;
  }

  &__name {
    display: block;
    margin-bottom: 20px;

    font-family: $title-font;
    font-weight: normal;
    font-size: 20px;
    line-height: 0;
    text-align: center;
  }

  &:hover {
    box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
  }
}

  /* Слайдер */
.slider {
  @extend %item-reset;

  position: relative;
}

.catalog__slider {
  margin-bottom: 66px;
}
  /* END Слайдер */
/* END Секция CATALOG */


/* Секция HELP */
.help {
  @extend %item-reset;

  padding-top: 64px;

  /* Секция help-non-commercial */
  &__list {
    @extend %item-reset;

    list-style: none;
    text-align: center;
  }

  &__item {
    @extend %item-reset;

    display: inline-block;
    margin: {
      right: 50px;
      bottom: 80px;
      left: 50px;
    }
    font-family: $title-font;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-align: center;
    vertical-align: baseline;
  }
}

.help__item svg {
  @extend %item-reset;

  display: block;
  width: 45px;
  margin: 0 auto;
  margin-bottom: 25px;
  fill: $main-color;
}

.help__item span {
  @extend %item-reset;

  display: block;
}

.help-non-commercial__title {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 70px;

  text-align: center;
}
  /* END Секция help-non-commercial */

  /* Секция help-commercial */
.help-commercial {
  padding: {
    top: 65px;
    bottom: 78px;
  }

  background-color: $bg-color-2;

  &__wrapper {
    background-image: url("../../img/bg-main-dog.png");
    background-repeat: no-repeat;
    background-position: 18px center;
  }

  &__container {
    @extend %item-reset;

    max-width: 370px;
    margin-left: 50%;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__label {
    @extend %item-reset;

    display: block;
    margin-bottom: 10px;

    font-family: $title-font;
    letter-spacing: 0.9px;
  }

  &__account {
    @extend %item-reset;

    position: relative;

    display: block;
    width: 319px;
    margin-bottom: 30px;
    padding: {
      top: 12px;
      bottom: 12px;
      left: 59px;
    }

    font-family: TimesNewRomanPSMT, serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #292929;  /* Тёмно-серый, коричневатый  */

    border-radius: 9px;
    background-color: $main-color;
  }

  &__description {
    font-family: $main-font;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    color: #b2b2b2;
  }
}

.help-commercial__container svg {
  position: absolute;
  top: 50%;
  left: 14px;

  display: block;
  width: 30px;
  height: 30px;

  transform: translateY(-50%);
}
   /* END Секция help-commercial */
/* END Секция HELP */
